.cards-item_title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #555555;
    height: 28px;
    width: 265px;
    margin: 9px 0 0 5px;
    padding: 0;
}