.menu-all-collect__link {
    font-family: 'Rubik';
    font-weight: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #555555;
    text-decoration: none;
    padding-left: 10px;
    opacity: .8;
}

.menu-all-collect__link:hover {
    opacity: 1;
    transition: opacity .2s ease;
}