.section__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
    margin: 0;
    padding: 0;
}