.trending {
    border: 1px solid red;
    position: absolute;
    left: 135px;
    top: 1487px;
    height: 1094px;
    width: 1170px;
}

.trending__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
    margin: 0;
    padding: 0;
}

.trending__top-menu {
    list-style: none;
    display: flex;
}

.trending__top-menu_cell {}

.trending__top-menu_link {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #7AC751;
}