.header__banner {
    position: absolute;
    top: 33.85%;
    left: 404px;
    width: 899px;
    height: 439px;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    backdrop-filter: blur(155px);
    border-radius: 1px;
}