.header__banner_button {
    background: #7AC751;
    border-radius: 5px;
    border: 0;
    width: 129px;
    height: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    transform: scale(1);
    transition: transform .2s ease-in;
    will-change: transform;
}

.header__banner_button:hover {
    transform: scale(1.05);
    transition: transform .2s ease-out;
}