.top-menu__cell {
    padding: 0;
    margin: 0;
}


.top-menu__link_active {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #7AC751;
    opacity: 1;
}

.top-menu__link_active:hover {
    transition: opacity .3s ease;
    opacity: .8;
}

.top-menu__link {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #929090;
    opacity: .8;
}

.top-menu__link:hover {
    opacity: 1;
    transition: opacity .3s ease;
}