.cards-item__shop-card-icon {
    height: 38.894474029541016px;
    width: 38.84892272949219px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 234px;
    margin: 0;
    padding: 0;
    background-color: #95cf75;
}

.cards-item__shop-card-icone:hover {
    background-color: #7AC751;
}

.cards-item__shop-card-icon:active {
    background-color: #70b34c;
    transform: scale(.92);
    box-shadow: 0 0 5px #65a443;
}


.cards-item__shop-card-icon_img {
    border-radius: 50%;
    height: 25.2px;
    width: 26.8px;
    margin: 0;
    padding: 0;
}