@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url(../fonts/Rubik-Regular.ttf);
}

/*@font-face {
    font-family: 'Rubik';
    font-weight: light;
    src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Medium.ttf);
}*/

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.ttf);
}