.header__sign-up {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .5s ease;
    opacity: 1;
}

.header__sign-up:hover {
    transition: opacity .5s ease;
    opacity: .7;
}