.special-offer__button {
    background: #7AC751;
    border-radius: 5px;
    border: 0;
    width: 110px;
    height: 35px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 121px;
    left: 146px;
    text-decoration: none;
}

/*transform: scale(1);
    transition: transform .2s ease-in;
}

/*.special-offer__button:hover {
    transform: scale(1.05);
    transition: transform .2s ease-out;
}