.feature__cell {
    height: 58px;
    width: 250px;
    margin: 0 0 0 42px;
    padding: 0;
    display: flex;
}

.feature__cell_img {
    width: 58px;
    height: 58px;
    margin: 0;
    padding: 0;
}

.feature__cell_img:hover {
    transition: transform .1s ease;
    transform: scale(1.05);
}

.feature__cell_title {
    width: 160px;
    height: 26px;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #555555;
}

.feature__cell_paragraph {
    width: 160px;
    height: 26px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin: 0;
    padding: 0;
}

.feature__cell_table {
    list-style: none;
    margin: 5px 0 auto 20px;
    padding: 0;
}