.header__menu-horizontal_link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    padding: 0;
    text-decoration: none;
    opacity: .8;

}

.header__menu-horizontal_link:hover {
    opacity: 1;
    transition: opacity .2 ease;

}