.header__menu-horizontal_link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    padding: 0;
    text-decoration: none;
}

.header__menu-horizontal_link:hover {}