.footer__icon-social-bar {
    height: 32.2px;
    width: 174px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 10px;
}

.footer__icon-social {
    border-radius: 50%;
    width: 32.2px;
    height: 32.2px;
    background-color: #ebedee;
    transform: scale(1);
    transition: transform .2s ease;
    will-change: transform;
}

.footer__icon-social:hover {
    background-color: #dcddde;
    transform: scale(1.1);
    transition: transform .2s ease;
}

.footer__icon-social:active {
    background-color: #7AC751;
}