.page {
    position: relative;
    width: 1440px;
    height: 6431px;
    margin: 0 auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: absolute;
    width: 100%;
    min-height: 663px;
}

.header__top-rectangle {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 50px;
    top: 0px;
    background: #7AC751;
}

.header__welcome {
    position: absolute;
    min-width: 204px;
    height: 19px;
    left: 9%;
    margin: 15px auto;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.header__login-sign-up {
    display: flex;
    padding: 0;
    position: absolute;
    display: flex;
    min-width: 121px;
    height: 19px;
    right: 9%;
    list-style: none;
    flex-direction: row;
    margin: 15px auto;
}

.header__login {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .5s ease;
    opacity: 1;
}

.header__login:hover {
    transition: opacity .5s ease;
    opacity: .7;
}

.header__sign-up {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .5s ease;
    opacity: 1;
}

.header__sign-up:hover {
    transition: opacity .5s ease;
    opacity: .7;
}

.header__lang {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: absolute;
    min-width: 101px;
    height: 19px;
    left: 70%;
    margin: 15px auto;
    border: 0;
    background-color: #7AC751;
    padding: 0;
    text-align: center;
    cursor: pointer;
    transition: opacity .4s ease;
    opacity: 1;
}

.header__lang:hover {
    transition: opacity .4s ease;
    opacity: .8;
}

.header__lang_select {
    border: 0;
}

.header__logo {
    display: flex;
    position: absolute;
    width: 147px;
    height: 38.96px;
    left: 12%;
    top: 12%;
    padding: 0;
    background-size: cover;
}

.header__link {
    transition: opacity .5s ease;
    opacity: 1;
}

.header__link:hover {
    transition: opacity .5s ease;
    opacity: .7;
}

.header__menu-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 13%;
    left: 79.7%;
    list-style: none;
    min-width: 120px;
    margin: 0;
    padding: 0;
}

.header__icon_shopping-cart {
    background-size: cover;
    width: 25px;
    height: 25px;
}